@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

.hidden {
    transition: 2.5s;
    opacity: 0;
    transform: translateY(-100%);
}

.show {
    opacity: 1;
    transform: translateY(0%);
}

body {
    background-color: rgb(24, 24, 24);
    grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-wrapper {
    background-color: (24, 24, 24);
    flex: 0.7
}

.main {
    display: grid;
}

img {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: "Noto Sans";
    font-size: 70;
    color: white;
    margin-top: 2%;
    
}

.bottom {
    position: relative;
    background: linear-gradient(90deg, rgba(190,13,13,1) 14%, rgba(0,35,255,1) 92%);
    flex: 0.3;

}

.cmd {
    width: 85%;
    height: 80px;
    background-color: rgb(46, 44, 44);
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.cmd-txt {
    font-family: "Noto Sans";
    color: white;
}

.custom-shape-divider-top-1689198993 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689198993 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1689198993 .shape-fill {
    fill: #181818;
}
